html {
  font-family: 'Work Sans', sans-serif;
}

body {
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 100%;
}

div.landing {
  border: 5px solid black;
  border-radius: 10px;
  width: 25%;
  text-align: center;
  position: absolute;
  top: 38.5%;
  left: 40%;
  vertical-align: middle;
  background-color: #cdced3;
}

.home {
  width: 100%;
}

.quote {
  width: 70%;
  position: relative;
  right: -25%;
  min-height: 200px;
}

.quote h2 {
  padding: 0 10px;
  position: absolute;
  right: 150px;
}

.menubar {
  display: block;
  font-size: 30px;
}

th,
td {
  text-align: right;
  padding: 20px 0;
  font-size: 20px;
}

div.home ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

div.home ul li {
  float: left;
}

div.home ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

div.home ul li a:hover {
  background-color: #111;
}

.addFood {
  width: 50%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  float: left;
}

.foodTable {
  width: 90%;
}

.foodDay {
  width: 40%;
  float: left;
  font-size: 30px;
}

.addFood input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px auto;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
}

#date {
  height: 50px;
  text-align: center;
  font-size: 55px;
}
